.container {
  width: 320px;
  max-width: 767px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 767px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 1280px;
    padding: 16px 20px 16px 20px;
  }
}
